<section class="content-header">

<h1>Projects</h1>

</section>

<section class="content">
    <div class="box">
        <div class="box-header">
            <%= link_to "新規プロジェクト追加", new_rayadmin_project_path %>
        </div>
        <div class="box-body no-padding">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th class="col-xs-1">ID</th>
                    <th class="col-xs-1">rest</th>
                    <th>プロジェクト名</th>
                    <th class="col-xs-2"></th>
                </tr>
                </thead>
                <tbody>
                    <% @projects.each do |project| %>
                <tr>
                    <td><%= project.id %></td>
                    <td>(<%= project.tasks.unfinished.count %>/<%= project.tasks.count %>)</td>
                    <td><%= link_to project.title, rayadmin_project_path(project.id) %></td>
                    <td>
                            <div class="btn btn-info btn-xs"><%= link_to "編集", edit_rayadmin_project_path(project.id) %></div>
                            <div class="btn btn-danger btn-xs">
                                <%= link_to "削除", rayadmin_project_path(project.id), method: :delete, data: { confirm: "本当によろしいですかよろしいですか？"} %>
                            </div>
                    </td>
                </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</section>