<!--タブ-->
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1" data-toggle="tab">基本情報</a></li>
<li><a href="#tab2" data-toggle="tab">マーク仕様</a></li>
<li><a href="#tab3" data-toggle="tab">ボディ選択</a></li>
<li><a href="#tab4" data-toggle="tab">請求金額</a></li>
</ul>
<!-- / タブ-->
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade in active" id="tab1">
    <%= form_for(@ordersheet, html: { class: "form-horizontal"}, url: rayadmin_ordersheets_path) do |f| %>
顧客No：<%= f.text_field :os_customerid, class: 'form-control' %>
注文No：<%= f.text_field :os_orderid, class: 'form-control' %>
新規・追加：<%= f.text_field :os_neworder, class: 'form-control' %>
注文名：<%= f.text_field :os_ordername, class: 'form-control' %>
グループ名：<%= f.text_field :os_groupname, class: 'form-control' %>
顧客（氏）：<%= f.text_field :os_customername1, class: 'form-control' %>
顧客（名）：<%= f.text_field :os_customername2, class: 'form-control' %>
郵便番号：<%= f.text_field :os_zip, class: 'form-control' %>
都道府県：<%= f.text_field :os_address1, class: 'form-control' %>
市町村：<%= f.text_field :os_address2, class: 'form-control' %>
それ以降：<%= f.text_field :os_address3, class: 'form-control' %>
TEL1: <%= f.text_field :os_tel1, class: 'form-control' %>
TEL2: <%= f.text_field :os_tel2, class: 'form-control' %>
FAX: <%= f.text_field :os_fax, class: 'form-control' %>
メールアドレス：<%= f.text_field :os_email, class: 'form-control' %>
<% end %>
</div>
<div class="tab-pane fade" id="tab2">
    <p>コンテンツ2</p>
</div>
<div class="tab-pane fade" id="tab3">
    <p>コンテンツ3</p>
</div>
<div class="tab-pane fade" id="tab4">
    <p>コンテンツ4</p>
</div>
</div>




