<!DOCTYPE html>
<html>

<head>
  <title>Rayhope</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.3/css/AdminLTE.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.3/css/skins/_all-skins.min.css">
  <%= csrf_meta_tags %>
</head>

<body>
<div class="wrapper">
  <div class="header">
      <div class="navbar navbar-default navbar-static-top header">
        <div class="clearfix header-container">
          <div class="navbar-header">
            <h1 class="pull-left site-logo"><img src="http://www.rayhope.com/meimage/txt_logo.png" alt="RayhopeMe"></h1>
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
          <div id="navbar" class="navbar-right navbar-collapse collapse menu-global">
            <ul class="nav navbar-nav menu-global-main">
              <li><%= link_to 'デザイン画', static_pages_design_path %></li>
              <li><a href="">業務内容</a></li>
              <li><a href="">スポーツマーク</a></li>
              <li><a href="">家紋集</a></li>
              <li><a href="">写真集</a></li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
<div class="col-sm-2">
  <div class="list-group table-of-contents">
    
<!--<ul class="list-group">-->
<!--  <li class="list-group-item">-->
<!--    <span class="badge">14</span>-->
<!--    Cras justo odio-->
<!--  </li>-->
<!--  <li class="list-group-item">-->
<!--    <span class="badge">2</span>-->
<!--    Dapibus ac facilisis in-->
<!--  </li>-->
<!--  <li class="list-group-item">-->
<!--    <span class="badge">1</span>-->
<!--    Morbi leo risus-->
<!--  </li>-->
<!--</ul>-->
    <%= link_to 'デザイン作ります。', static_pages_design_path, {class:"list-group-item"} %>
    <%= link_to '過去写真集', static_pages_pictures_path, {class:"list-group-item"} %>
    <%= link_to 'スポーツユニフォーム', static_pages_markinfos_path, {class:"list-group-item"} %>
    <a class="list-group-item" href="#buttons">スポーツユニフォーム</a>
    <a class="list-group-item" href="#typography">マーク研究室</a>
    <a class="list-group-item" href="#tables">家紋集</a>
    <a class="list-group-item" href="#forms">Forms</a>
    <a class="list-group-item" href="#navs">Navs</a>
  </div>
</div>

    <!-- コンテンツ -->
    <div class="content-wrapper">
      
            
      <% flash.each do |message_type, message| %> <!-- ここから -->
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %> <!-- ここまで追加 -->
      <%= link_to '管理者', rayadmin_root_path %>
      <%= link_to 'インフィニティ', static_pages_help_path %>
      <%= yield %>
    </div>


</div><!-- /.wrapper -->

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.3/js/app.min.js"></script>

</body>
</html>