<!DOCTYPE html>
<html>

<head>
  <title>Rayhope</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.3/css/AdminLTE.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.3/css/skins/_all-skins.min.css">
  <%= csrf_meta_tags %>
</head>

<body class="skin-green sidebar-mini">
<div class="wrapper">

<!-- ヘッダー -->
<header class="main-header">
  <a href="/rayadmin" class="logo">
    <span class="logo-mini">
      <b>R</b>
    </span>
    <span class="logo-lg"><b>Ray</b>hope</span> 
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a class="sidebar-toggle" href="#" data-toggle="offcanvas" role="button"></a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", rayadmin_root_path %></li>
        <li><%= link_to "Userpage", root_path %></li>

        <% if logged_in? %>

        <!-- ログイン中の表示 -->
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= gravatar_for current_user, { size: 16 } %>
            <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- Menu Body -->
            <li class="user-body">
                <div class="pull-right">
                  <%= link_to "Profile", rayadmin_user_path(current_user) %>
                </div>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <%= link_to "Log out", rayadmin_logout_path, method: "delete" %>
              </div>
            </li>
          </ul>
        </li>

        <% else %>

        <!-- ログアウト中の表示 -->
        <li><%= link_to "Log in", rayadmin_login_path %></li>

        <% end %>
      </ul>
    </div><!-- ./navbar-custom-menu -->
  </nav>
</header>

<!-- サイドメニュー -->
<aside class="main-sidebar">
  <section class="sidebar">
    <% if logged_in? %>
    <!-- ログイン中の表示 -->
    <ul class="sidebar-menu">
      <li class="header">メニュー</li>
      
      <li class="treeview">
        <%= link_to(rayadmin_markinfos_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>ブログ</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_kamons_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>画像（家紋集）</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_markinfos_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>画像（過去実績）</span>
        <% end %>
      </li>
      
    </ul>
    <ul class="sidebar-menu">
     <li class="header">管理者メニュー</li>
      <li class="treeview">
        <%= link_to(rayadmin_customers_path) do %>
          <i class="fa fa-circle-o text-info"></i>
           <span>顧客管理</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_ordersheets_path) do %>
          <i class="fa fa-circle-o text-warning"></i>
          <span>注文管理</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_customers_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>売上管理</span>
        <% end %>
      </li>
     <li class="treeview">
        <%= link_to(rayadmin_users_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>管理者一覧</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_projects_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>プロジェクト</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_notes_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>ノート</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_sprices_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>価格表</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_pimages_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span>画像</span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_pimages_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span></span>
        <% end %>
      </li>
      <li class="treeview">
        <%= link_to(rayadmin_pimages_path) do %>
          <i class="fa fa-circle-o text-danger"></i>
          <span></span>
        <% end %>
      </li>
    </ul>
    <% end %>
  </section>
</aside>

<!-- コンテンツ -->
<div class="content-wrapper">
  <% if notice %>
    <%= notice %>
  <% end %>
  <% flash.each do |message_type, message| %> <!-- ここから -->
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %> <!-- ここまで追加 -->

  <%= yield %>
</div>

</div><!-- /.wrapper -->

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.3/js/app.min.js"></script>

</body>
</html>